/*simple list of css properties and basics*/

/*contents:
-Selecting elements
-dealing with text
  fonts
  lits of edits to text
-dealing with color (this helps with all kinds of colouration)
-
-
*/
/*<head> (this gets a font from this link so a user doesnt need it installed)
  <link href="https://fonts.googleapis.com/css?family=Raleway" type="text/css" rel="stylesheet" >
</head>*/


/* Selecting Elements */

<p class="class" id="identity" ></P>
/*p is the "type", class="" defines a class, ID defined by */

p {} type selecting - selects all elements of that type
p, body {} selecting multiple types
.class {} class selecting - selects all elements of that class
p.class {} type.class selecting - selects all of "class" if also from chosen "type"
#identity {} id selecting
p#identity {} id and type selection
* {} selects all elements
ns|* {} matches all elements in namespace ns
*|* {} matches all elements
|* {} matches all elements without any declared namespace



   
.title{
  font-family: Garamond, Times, serif; /*use Garamond, else use Times, else use any serif font preinstalled on computer */
}


.text {
  font-family: "Times New Roman",Times,serif; /*Helvetica,Arial, sans-serif;*/
  font-size:small; /* small, medium, large, xlarge or we can use #px , #em or #% */
  font-style:normal; /*italic, normal, oblique*/
  font-weight: lighter; /*lighter, bold, bolder, or number from 100-900 can be used */
  font-variant: normal; /*normal, small-caps, inherit */
  color:rgb(255,0,0); /* or use hexidecimal or one of the colour presets */
  text-align:center;/*left, right, center*/
  vertical-align:middle; /*top, bottom, middle or baseline, sub, super or #px (this can be + or - #px) */
  text-decoration: none; /*none, inherit, overline, underline, line-through, blink*/
  text-indent:60px; /*#px*/
  text-shadow: 5px 2px 4px blue; /* x-coord, y-coord, blur radius, color*/
  text-transform: capitalize; /* capitalise, uppercase, lowercase*/
  letter-spacing: normal; /*#em or normal # can be negative*/
  word-spacing: 3em; /*normal or #em standard is 2.5em */
  white-space: nowrap; /*puts whole text on one line*/
  white-space: normal; /*pre, pre-line, pre-wrap*/
  line-height: 1.3em; /*#em , deals with the spacing between lines to ensure there is no overlapping */
}


/*colour flexability */
div {
  color: rgb(255, 0, 0); /*red, green, blue */
  color: rgba(255, 0, 0, 0.5); /* red, green, blue, transparency */
  color: hsl(360, 100%, 100%); /* hue, saturation, lightness */
  color: hsla(360, 100%, 100%, 0.5); /* Hue, Saturation, Lightness, transparency */
  color: #000000; /* hex value */
  color:#000; /*simplified hex value */
  /* Old browsers */
  background: #141E30;
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(-45deg, #35577D, #141E30);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(-45deg, #35577D, #141E30);
}
