.box1 {
  background-color: blue;
  height: 50px;
  width: 50px;
  transition: width 3s ease-in ; /* width ready to change, duration 3 seconds
  /* all these control thr transition */
  transition-delay: 1s; /* delay before the transition takes place */
  /*transition-duration: 2s; /* time it takes for transition to take place */
  /*transition-property: all; /* none */ /* specifies the property to be transitioned */
  /*transition-timing-function: ease-in; /* ease-in, ease-out, ease-in-out, cubic-bezier(), linear, step-end, step-start, steps(),  */
}
/*NOTE: cubic-bezier(x,x,x,x) xvalues from 0 to 1 */
.box1:hover {
  width: 250px
}
.box2 {
  height: 50px;
  width: 50px;
  background-color: purple;
  margin-top: 30px;
  transform: translate(100px, 30px) rotateZ(10deg) skewY(10deg); /*translate(R,D) skew(deg) rotate(deg) */
}
.box2:hover { /*being here makes it rotate during hover, else it would already be rotated */
  transform: rotate(-10deg); /* not an on screen transition */
  -webkit-transform: rotate(-10deg);
  transform-origin: 0% 100% ; /* point of rotation is at x% right, x% down */
}
.box3 {
  width: 100px;
  height: 100px;
  background-color: red; /*same as animation start */
  /*animation-name: box3;
  animation-duration: 5s;
  animation-timing-function: linear; /*same options transition has */
  /*animation-delay: 2s;
  animation-iteration-count: infinite; /* can be numbers too */
  /*animation-direction: alternate; /*goes to 100 then back to 0 */
  animation: box3 5s linear 2s infinite alternate;/* same as above NOTE order matters*/
}
@keyframes box3 {
  from {background-color: red;} /*from=0%*/
  50% {background-color: yellow;}
  to {background-color: blue;} /* to = 100%*/

}
